In [1]:
%matplotlib widget
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Station = Base.classes.station
Measurement = Base.classes.measurement

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [10]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Calculate the date 1 year ago from the last data point in the database
# Perform a query to retrieve the data and precipitation scores
# Save the query results as a Pandas DataFrame and set the index to the date column
# Sort the dataframe by date
# Use Pandas Plotting with Matplotlib to plot the data

In [10]:
results = session.query(Measurement.date, Measurement.prcp).\
    order_by(Measurement.date.desc()).all()
date = [result[0] for result in results]
prcp = [result[1] for result in results]
precip = pd.DataFrame(results, columns=['date', 'prcp'])

precip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    19550 non-null  object
 1   prcp    18103 non-null  float64
dtypes: float64(1), object(1)
memory usage: 305.6+ KB

In [11]:
precip.head()

         date  prcp
0  2017-08-23  0.00
1  2017-08-23  0.00
2  2017-08-23  0.08
3  2017-08-23  0.45
4  2017-08-22  0.00

In [12]:
precip = precip[precip['date'] > '2016-08-23']
#precip.set_index('date', inplace=True, )
precip['prcp'] = precip['prcp'].fillna(0)
precip = precip.groupby('date').sum()
precip

            prcp
date
2016-08-24  9.33
2016-08-25  0.54
2016-08-26  0.10
2016-08-27  0.32
2016-08-28  3.10
...          ...
2017-08-19  0.09
2017-08-20  0.01
2017-08-21  0.58
2017-08-22  0.50
2017-08-23  0.53

[365 rows x 1 columns]

In [13]:
precip.plot.bar()
#ax1 = plt.axes()
#x_axis = ax1.axes.get_xaxis()
#x_axis.set_visible(False)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
# Use Pandas to calculte the summary statistics for the precipitation data
precip.describe()

             prcp
count  365.000000
mean     0.974164
std      1.776466
min      0.000000
25%      0.050000
50%      0.400000
75%      1.080000
max     14.280000

# Exploratory Station Analysis

In [15]:
# Design a query to show how many stations are available in this dataset?

In [16]:
inspector = inspect(engine)
columns = inspector.get_columns('Station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [17]:
columns = inspector.get_columns('Measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [18]:
#session.query(Station.id, Station.station, Station.name, Station.latitude, Station.longitude, Station.elevation).all()

In [19]:
station = pd.DataFrame(session.query(Station.id, Station.station, Station.name, Station.latitude, Station.longitude, Station.elevation).all(), columns=['id', 'station', 'name', 'latitude', 'longitude', 'elevation'])
station

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,6,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,7,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,8,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,9,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [20]:
print(f"There are {station['station'].count()} stations.")

There are 9 stations.

In [21]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
station = pd.DataFrame(session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).all(), columns=['id', 'station', 'date', 'prcp', 'tobs'])

In [22]:
grouped = station.groupby("station").count()
grouped["count"] = grouped["id"]
grouped = grouped.sort_values(by='count', ascending=False)
grouped

               id  date  prcp  tobs  count
station
USC00519281  2772  2772  2772  2772   2772
USC00519397  2724  2724  2685  2724   2724
USC00513117  2709  2709  2696  2709   2709
USC00519523  2669  2669  2572  2669   2669
USC00516128  2612  2612  2484  2612   2612
USC00514830  2202  2202  1937  2202   2202
USC00511918  1979  1979  1932  1979   1979
USC00517948  1372  1372   683  1372   1372
USC00518838   511   511   342   511    511

In [23]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?
grouped["Low Temp"] = station.groupby("station")["tobs"].min()
grouped["Max Temp"] = station.groupby("station")["tobs"].max()
grouped["Avg Temp"] = station.groupby("station")["tobs"].mean()
grouped2 = grouped.head(1).copy()
grouped2 = grouped2[["Low Temp", "Max Temp", "Avg Temp"]]
grouped2

             Low Temp  Max Temp   Avg Temp
station
USC00519281      54.0      85.0  71.663781

In [24]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
station_hist = station[station["date"] > '2016-08-23']
station_hist = station_hist[station_hist["station"] == 'USC00519281']
station_hist = station_hist[["tobs"]]

In [25]:
station_hist.plot.hist(bins = 12)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Bonus Challenge Assignment (NOT ATTEMPTED)

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`